html{
	overflow-x: hidden;
}

body{
	position: relative;
}

h3{
	text-align:center;
	font-weight: bold;
	font-size: 20px;
	margin-top: -10px;
}

.narr{
	background-color:#000;
	width: 58%;
	height:81%;
	border-radius: 10px;
	position: absolute;
	top: 70%;
	left: 21%;
}

#change{
	color: #7CFC00;
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	width: 100%;
}

#table{
	position: absolute;
	top: 580%;
	left: 21%;
	z-index: 10;
	width: 54.5%;
	height: 453%;
}

#flsk_arrow{
	position: absolute;
	left: 30%;
	top: 335%;
	z-index: 1;
	width: 22%;
	height: 100%;
}

#flask{
	position: absolute;
	left: 23%;
	top: 150%;
	z-index: 3;
	width: 18%;
	height: 270%;
}

#flsk_txt{
	position: absolute;
	z-index: 3;
	left: 52.5%;
	top: 350%;
	font-size: 22px;
	width: 20%;
}

#rst_btn{
	position: absolute;
	top: 1030%;
	left: 43%;
	width: 10%;
	height: 50%;
}

#stir_button{
	position: absolute;
	height: 30%;
	z-index: 11;
	top: 615%;
	left: 58.8%;
	width: 1.6%;
}

#heat_button{
	position: absolute;
	z-index: 11;
	top: 616%;
	left: 69.1%;
	height: 30%;
	width: 1.6%;
}

#magnet{
	position: absolute;
	z-index: 5;
	top: 180%;
	left: 64%;
	display: none;
	height: 8%;
	width: 2%;
}

#magnet_txt{
	position: absolute;
	display: none;
	font-size: 22px;
	font-weight: bold;
	top: 460%;
	left: 43%;
	width: 12%;
}

#magnet_arrow{
	position: absolute;
	display: none;
	top: 153%;
	left: 50%;
	height: 310%;
	width: 13.8%;
}

#heater_txt{
	position: absolute;
	display: none;
	font-size: 22px;
	font-weight: bold;
	top: 290%;
	left: 52%;
	width: 11%;
}

#heater_arrow{
	position: absolute;
	display: none;
	top: 320%;
	left: 63%;
	height: 300%;
	z-index: 15;
	width: 9%;
}

#stir_txt{
	position: absolute;
	display: none;
	font-size: 22px;
	font-weight: bold;
	top: 290%;
	left: 65.5%;
	width: 11%;
}

#stir_arrow{
	position: absolute;
	display: none;
	top: 320%;
	left: 57%;
	height: 300%;
	z-index: 15;
	width: 8%;
}

#bubbles{
	position: absolute;
	z-index: 20;
	display: none;
	width: 3.8%;
	top: 485%;
	left: 63.3%;
	height: 110%;
}

#beaker{
	position: absolute;
	display: none;
	top: 618%;
	left: 35%;
	z-index: 15;
	height: 139%;
	width: 5%;
}

#beaker_water{
	position: absolute;
	display: none;
	-webkit-filter: grayscale(100%);
	z-index: 16;
	left: 35.7%;
	top: 690%;
	width: 4%;
	height: 66%;
}

#pipette{
	position: absolute;
	display: none;
	left: 48%;
	top: 325%;
	z-index: 22;
	width: 4%;
	height: 150%;
}

#pipette_arrow{
	position: absolute;
	display: none;
	top: 380%;
	left: 33%;
	width: 16%;
	height: 130%;
}

#pipette_txt{
	position: absolute;
	display: none;
	font-size: 22px;
	font-weight: bold;
	left: 30%;
	top: 500%;
	width: 10%;
}

#beaker_txt{
	position: absolute;
	display: none;
	font-size: 18px;
	color: #ff0000;
	top: 620%;
	left: 40.5%;
	width: 10%;
}

#color{
	position: absolute;
	opacity: 0;
	z-index: 4;
	top: 495%;
	left: 62.2%;
	width: 5.6%;
	height: 88%;
}

#drop{
	position: absolute;
	display: none;
	z-index: 3;
	-webkit-filter: grayscale(100%);
	height: 15%;
	left: 64.3%;
	top: 392%;	
	width: 1%;
}

#txt{
	position: absolute;
	z-index: 3;
	display: none;
	left: 67.2%;
	top: 400%;
	height: 140%;
	width: 10%;
}