body {
    width: 1080px;
    height: 715px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#rod {
    position: absolute;
    z-index: 3;
    left: 39%;
    top: 17%;
    height: 62.7%;
    width: 65.6%;
}

#background {
    position: absolute;
    z-index: 1;
    top: 6%;
    left: 15%;
    width: 64.9%;
    height: 84%;
}

#scale {
    position: absolute;
    left: 16%;
    top: 6%;
    z-index: 2;
    height: 8%;
    width: 64%;
}

#readings {
    position: absolute;
    z-index: 2;
    width: 5.7%;
    left: 23.8%;
    top: 59.57%;
    height: 5.3%;
}

#stand {
    position: absolute;
    z-index: 2;
    left: 55.9%;
    top: 20%;
    height: 50%;
    width: 13%;
}

#piece_stand {
    position: absolute;
    z-index: 4;
    left: 62.5%;
    top: 35.5%;
    height: 8%;
    width: 2%;
}

#piece1 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 15.7%;
    height: 2%;
    width: 1.2%;
}

#piece2 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 19%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece3 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 23%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece4 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 26.5%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece5 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 30.5%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece6 {
    position: absolute;
    z-index: 3;
    top: 12%;
    left: 33.5%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece7 {
    position: absolute;
    z-index: 3;
    top: 12%;
    left: 37%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece8 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 41.5%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece9 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 45%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece10 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 48.6%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece11 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 52%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece12 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 55.7%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece13 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 59.4%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece14 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 62.5%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece15 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 67%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece16 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 70.5%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece17 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 73.6%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#piece18 {
    position: absolute;
    z-index: 2;
    top: 12%;
    left: 77.6%;
    opacity: 0;
    height: 2%;
    width: 1.2%;
}

#pour {
    position: absolute;
    z-index: 5;
    height: 17.9%;
    top: 62.9%;
    left: 30.35%;
    width: 20.3%;
}

#markings {
    position: absolute;
    z-index: 7;
    width: 10.7%;
    height: 6.5%;
    top: 58.6%;
    left: 30%;
}

#sample {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
    color: #ffff00;
    top: 77%;
    left: 45%;
}

#hand1 {
    position: absolute;
    z-index: 2;
    left: 30%;
    top: 10%;
    width: 11%;
    height: 15%;
}

#conc {
    position: absolute;
    z-index: 2;
    left: 40%;
    top: 17%;
    font-weight: bold;
    font-size: 11px;
}

#beak_water {
    position: absolute;
    z-index: 5;
    top: 75%;
    left: 48.5%;
    width: 3%;
    height: 3.4%;
}

#rod_button1 {
    position: absolute;
    z-index: 3;
    top: 33%;
    left: 61.2%;
    opacity: 0;
    height: 20%;
    width: 1.8%;
}

#rod_button2 {
    position: absolute;
    z-index: 3;
    top: 51%;
    left: 49%;
    opacity: 0;
    height: 21%;
    width: 1.8%;
}

#hand2 {
    position: absolute;
    z-index: 2;
    left: 60%;
    top: 30%;
    display: none;
    height: 14%;
    width: 11%;
}

#cell {
    position: absolute;
    z-index: 2;
    left: 67%;
    top: 38%;
    font-weight: bold;
    font-size: 11px;
    display: none;
}

#hand3 {
    position: absolute;
    z-index: 2;
    left: 47%;
    top: 48%;
    display: none;
    width: 10%;
    height: 13%;
}

#click {
    position: absolute;
    z-index: 2;
    left: 53%;
    top: 56%;
    font-weight: bold;
    font-size: 11px;
    display: none;
}

#button1 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 2.6%;
    left: 15%;
    top: 10%;
}

#button2 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.4%;
    left: 17.4%;
    top: 10%;
}

#button3 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.6%;
    left: 21.3%;
    top: 10%;
}

#button4 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.7%;
    left: 25%;
    top: 10%;
}

#button5 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.6%;
    left: 28.75%;
    top: 10%;
}

#button6 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.3%;
    left: 32.4%;
    top: 10%;
}

#button7 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.8%;
    left: 35.8%;
    top: 10%;
}

#button8 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 4%;
    left: 39.7%;
    top: 10%;
}

#button9 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.4%;
    left: 43.8%;
    top: 10%;
}

#button10 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.5%;
    left: 47.3%;
    top: 10%;
}

#button11 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.5%;
    left: 50.9%;
    top: 10%;
}

#button12 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.6%;
    left: 54.5%;
    top: 10%;
}

#button13 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.4%;
    left: 58.15%;
    top: 10%;
}

#button14 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.6%;
    left: 61.7%;
    top: 10%;
}

#button15 {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 4%;
    width: 3.8%;
    left: 65.4%;
    top: 10%;
}

#button16 {
    position: absolute;
    z-index: 10;
    height: 4%;
    width: 3.5%;
    left: 69.3%;
    top: 10%;
    opacity: 0;
}

#button17 {
    position: absolute;
    z-index: 10;
    height: 4%;
    width: 3.1%;
    left: 72.9%;
    top: 10%;
    opacity: 0;
}

#button18 {
    position: absolute;
    z-index: 10;
    height: 4%;
    width: 3.2%;
    left: 76.1%;
    top: 10%;
    opacity: 0;
}

#rst_btn {
    position: absolute;
    top: 90%;
    left: 40%;
}