html{
	/*overflow: hidden;*/
}

body{
	position: relative;
}

h3{
	text-align:center;
	font-weight: bold;
	font-size: 20px;
}

#action{
	position: absolute;
	top: 1280%;
	left: 53%;
	height: 400%;
	width: 21%;
}

#form{
	position: absolute;
	top: 1800%;
	left: 40%;
	width: 20.3%;
	height: 365%;
}

#struc{
	position: absolute;
	top: 1280%;
	left: 32%;
	width: 21%;
	height: 400%;
}

#rst_btn{
	position: absolute;
	top: 2600%;
	left: 44%;
}

#div_btn1{
	display: none;
}

#infobg{
	position: absolute;
	height: 630%;
	width: 55.2%;
	top: 1300%;
	left: 22%;
}

#head{
	position: absolute;
	z-index: 3;
	top: 605%;
	left: 59.7%;
	opacity: 0;
	width: 6.74%;
	height: 423%;
}

#tail{
	position: absolute;
	z-index: 3;
	left: 30.3%;
	top: 714%;
	opacity: 0;
	height: 273%;
	width: 29.4%;
}

#micl{
	position: absolute;
	top: 600%;
	left: 30%;
	width: 36.75%;
	height: 441%;
}

#tail_red{
	position: absolute;
	z-index: 2;
	height: 382%;
	width: 30.35%;
	top: 667%;
	left: 29.4%;
	opacity: 0;
}

#head_red{
	position: absolute;
	z-index: 2;
	width: 10%;
	height: 680%;
	top: 474%;
	left: 58.58%;
	opacity: 0;
}

#close_btn1{
	position: absolute;
	height: 141%;
	width: 2.2%;
	left: 74%;
	top: 250%;
}

#infoh{
	position: absolute;
	left: 57.4%;
	top: 1140%;
	height: 700%;
	width: 11.65%;
	display: none;
}

#infotl{
	position: absolute;
	left: 29%;
	top: 1140%;
	height: 760%;
	width: 31.35%;
	display: none;
}

#div_btn2{
	display: none;
}


#blue_back{
	position: absolute;
	height: 2000%;
	left: 25%;
	width: 50%;
	top: 310%;
	background-color: #65C1FD;
	opacity: 0.9;
	display: none;
}

#spoon{
	position: absolute;
	top: 400%;
	left: 60%;
	width: 11.8%;
	height: 370%;
}

#table{
	position: absolute;
	top: 1500%;
	left: 22%;
	height: 1033%;
	width: 55.5%;
}

#dtr_arw{
	position: absolute;
	top: 800%;
	left: 52%;
	width: 11.7%;
	height: 686%;
}

#pow{
	position: absolute;
	top: 1250%;
	left: 37%;
	width: 5.6%;
	height: 194%;
	display: none;
}

#rod{
	position: absolute;
	height: 750%;
	top: 1200%;
	left: 33%;
	width: 11%;
	display: none;
}

#stir{
	position: absolute;
	width: 12%;
	top: 1190%;
	height: 770%;
	left: 32.6%;
	display: none;
}

#str_rod{
	position: absolute;
	top: 1050%;
	left: 44%;
	width: 24%;
	height: 280%;
	display: none;
}

#mol{
	position: absolute;
	top: 1200%;
	left: 53%;
	width: 20%;
	height: 405%;
	display: none;
}

#micl1{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 38%;
	left: 5%;
}

#micl2{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 50%;
	left: 1%;
}

#micl3{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 70%;
	left: 2%;
}

#micl4{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 83%;
	left: -3%;
}

#micl5{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 30%;
	left: -30%;
}

#micl6{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	left: -25%;
	top: 50%;
}

#micl7{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 30%;
	left: -35%;
}

#micl8{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 60%;
	left: 50%;
}

#micl9{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	left: 45%;
	top: 75%;
}

#micl10{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 30%;
	left: 45%;
}

#micl11{
	position: relative;
	width: 13.6%;
	height: 4.4%;
	top: 50%;
	left: 30%;
}

#close_btn2{
	position: relative;
	height: 7%;
	width: 4%;
	top: -2%;
	left: 37%;
}