html{
	overflow: hidden;
}

body{
	position: relative;
}

h3{
	text-align:center;
	font-weight: bold;
	font-size: 20px;
}

.narr{
	background-color:#000;
	width: 50%;
	height:auto;
	border-radius: 10px;
	margin-top: -5px;
}

#change{
	color: #7CFC00;
	font-size: 16px;
	text-align: center;
	padding-top: 7px;
	width: 100%;
}

#beaker{
	position: absolute;
	left: 23%;
	top: 110%;
	z-index: 1;
	width: 9%;
	height: 88%;
}

#table{
	position: absolute;
	top: 255%;
	left: 21%;
	z-index: 10;
	height: 193%;
	width: 54.5%;
}

#beak_arrow{
	position: absolute;
	left: 30%;
	top: 130%;
	z-index: 1;
	height: 27%;
	width: 17%;
}

#beak{
	position: absolute;
	left: 47%;
	top: 122%;
	font-size: 1.8em;
	color: #00F;
	width: 7%;
}

#flask{
	position: absolute;
	left: 42%;
	top: 200%;
	display: none;
	width: 65%;
	height: 110%;
}

#beak_water{
	position: absolute;
	z-index: 5;
	top: 304%;
	left: 41%;
	opacity: 0.6;
	-webkit-filter: grayscale(100%);
	display: none;
	height: 28%;
	width: 4%;
}

#flsk{
	background-color: #ffff00;
	position: absolute;
	width: 15%;
	height: auto;
	border-radius: 9px;
	top:200%;
	left: 30%;
	text-align: center;
	font-size: 1.25em;
	display: none;
}

#rst_btn{
	position: absolute;
	top: 447%;
	left: 44%;
	width: 10%;
	height: 20%;
}

#water_tag{
	position: absolute;
	top: 300%;
	left: 39.5%;
	z-index: 4;
	display: none;
	opacity: 0.8;
	height: 19%;
	width: 7%;	
}

#fecl3_powder{
	position: absolute;
	top: 110%;
	left: 44%;
	display: none;
	width: 5%;
	height: 30%;
}

#powder_arrow{
	position: absolute;
	left: 28%;
	display: none;
	top: 124%;
	height: 100%;
	width: 15%;
}

#fecl3_text{
	position: absolute;
	left: 23%;
	top: 223%;
	color: #00F;
	display: none;
	font-size: 20px;
	width: 10%;
}

#beak_spoon{
	position: absolute;
	z-index: 0;
	top: 237.3%;
	left:40%;
	height: 90%;
	display: none;
	width: 12%;
}

#rod{
	position: absolute;
	top: 243%;
	left: 41.5%;
	z-index: 7;
	display: none;
	height: 83%;
	width: 5%;
}

#rd{
	background-color: #ffff00;
	position: absolute;
	width: 15%;
	height: auto;
	border-radius: 9px;
	top:205%;
	left: 50%;
	text-align: center;
	font-size: 1.15em;
	display: none;
	-webkit-text-size-adjust:none;
}

#grod{
	position: absolute;
	top: 231%;
	left: 37%;
	display: none;
	width: 12%;
	height: 98%;
}

#g_arrow{
	position: absolute;
	left: 30.5%;
	top: 210%;
	display: none;
	width: 14.5%;
	height: 50%;
}

#g_txt{
	position: absolute;
	top:205%;
	left: 23%;
	color: #00F;
	text-align: center;
	font-size: 20px;
	display: none;
	width: 10%;
}

#div_fecl3{
	position: absolute;
	color: #e50000;
	top: 270%;
	left: 20%;
	font-size: 18px;
	display: none;
	width: 10%;
}

#water_flask{
	position: absolute;
	left: 61%;
	top: 103%;
	display: none;
	height: 60%;
	width: 4.5%;
}

#con_arrow{
	position: absolute;
	left: 43%;
	top: 115%;
	width: 17%;
	height: 67%;
	display: none;
}

#con_flask{
	position: absolute;
	color: #00F;
	text-align: center;
	font-size: 20px;
	left: 35%;
	top: 133%;
	width: 10%;
	display: none;
}

#magnet{
	position: absolute;
	left: 62.4%;
	top: 110%;
	opacity: 0.6;
	width: 1.55%;
	height: 7%;
	display: none;	
}

#mag_arrow{
	position: absolute;
	left: 44.4%;
	top: 106%;
	height: 40%;
	width: 17.5%;
	display: none;	
}

#mag_txt{
	position: absolute;
	color: #00F;
	top: 137%;
	left: 34%;
	text-align: center;
	font-size: 20px;
	display: none;
	width: 10%;	
}

#button1{
	position: absolute;
	height: 12%;
	z-index: 11;
	top: 270.4%;
	left: 58.9%;
	width: 1.4%;
}

#button2{
	position: absolute;
	z-index: 11;
	top: 271%;
	left: 69.2%;
	height: 12%;
	width: 1.4%;
}

#red_button{
	position: absolute;
	z-index: 10;
	top: 311%;
	left: 59.12%;
	width: 0.6%;
	height: 13%;
	display: none;
}

#heat_arrow{
	position: absolute;
	z-index: 11;
	top: 143%;	
	left: 63%;
	width: 8.5%;
	height: 124%;
	display: none;
}

#heat_txt{
	position: absolute;
	color: #00F;
	text-align: center;
	font-size: 20px;
	top: 125%;
	left: 55.5%;
	width: 10%;
	display: none;
}

#stir_arrow{
	position: absolute;
	z-index: 11;
	top: 161%;
	height: 100%;
	width: 6.5%;
	left: 58%;
	display: none;
}

#stir_txt{
	position: absolute;
	color: #00F;
	text-align: center;
	font-size: 20px;
	top: 140%;
	left: 62%;
	width: 10%;
	display: none;
}

#heat_bubb{
	position: absolute;
	display: none;
	left: 61.7%;
	top: 231%;
	opacity: 0.6;
	-webkit-filter: grayscale(50%);
	z-index: 10;
	width: 3.5%;
	height: 25%;
}

#mag{
	position: absolute;
	z-index: 10;
	left: 62.4%;
	top: 249%;
	height: 5%;
	width: 1.6%;
	opacity: 0.3;
	display: none;
}

#pipette{
	position: absolute;
	z-index: 7;
	top: 100%;
	left: 49%;
	opacity: 0.8;
	width: 4%;
	height: 70%;
	display: none;
}

#pip_txt{
	position: absolute;
	color: #00F;
	text-align: center;
	font-size: 20px;
	left: 32%;
	top: 200%;
	width: 10%;
	display: none;
}

#pip_arrow{
	position: absolute;
	top: 120%;
	left: 37%;
	width: 13%;
	height: 80%;
	display: none;
}

#red_sol{
	position: absolute;
	left: 45.7%;
	width: 3.4%;
	top: 304%;
	z-index: 4;
	display: none;
	height: 23%;
}

#red_drop{
	position: absolute;
	display: none;
	height: 10%;
	top: 176%;
	left: 63%;
	width: 0.5%;
}

#pip2_arrow{
	position: absolute;
	left: 28.6%;
	width: 33%;
	top: 130%;
	display: none;
	height: 100%;
}

#red_flask{
	position: absolute;
	left: 61%;
	top: 210.3%;
	width: 4.5%;
	height: 47%;
	display: none;
}

#feoh3_txt{
	position: absolute;
	color: #e50000;
	top: 210.3%;
	left: 64.5%;
	font-size: 18px;
	display: none;
	width: 10%;
}

#circle{
	position: absolute;
	top: 174%;
	left: 50%;
	height: 130%;
	width: 28%;
	display: none;
}

#coll{
	position: absolute;
	left: 40%;
	top: 160%;
	height: 60%;
	width: 8%;
	display: none;
}